Placeholder for folder_items form

  <% if @folder_item && @folder_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder_item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @folder_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
