<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-heading"> Folders </div>

    <div class="panel-body">
      <% item = Blacklight::Folders::FolderItem.new(document: @document) %>
      <%= form_for item, url: blacklight_folders.folder_items_path do |f| %>

        <%= f.hidden_field(:document_id) %>

        <!-- TODO: Don't display form if no folders available for drop-down. Instead show which folders it's in? -->
        <% folders_for_drop_down = Blacklight::Folders::Folder.without_doc_for_user(@document, current_user) %>
        <div class="field">
          <%= f.select :folder_id, options_from_collection_for_select(folders_for_drop_down, :id, :name, item.folder_id), prompt: 'Select a Folder' %>
        </div>

        <div class="actions">
          <%= f.submit 'Add to Folder' %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>
