<!DOCTYPE html>
<html>
<head>
  <title>Blacklight::Folders</title>
  <%= stylesheet_link_tag    "blacklight_folders/application", media: "all" %>
  <%= javascript_include_tag "blacklight_folders/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
