$table-border-color: #dddddd;
$table_border: 1px dotted $table-border-color;

.folder-index {
  table {
    width: 100%;
    border-top:    $table_border;
    border-bottom: 2px solid #dddddd;
  }

  tr {
    border-bottom: $table_border;
  }

  td {
    padding: 0.5em 1em;
  }

  #sort-tool {
    margin-top: 30px
  }
}

.folder-view {
  .bookmarkTools {
    margin-top: 20px;
  }
}

.blacklight-folders-edit {
  ol {
    list-style-type: none;
    border: 1px solid $table-border-color;
    padding: 0;
    margin-top: 20px;

    li {
      padding: 5px;
      margin: 0;
      border-top:    $table_border;

      .title {
        padding-top: 6px;
      }
    }

    li:first-child {
      border-top: none;
    }
  }
}
