$table_border: 1px dotted #dddddd;

.folder-index {
  table {
    width: 100%;
    border-top:    $table_border;
    border-bottom: 2px solid #dddddd;
  }

  tr {
    border-bottom: $table_border;
  }

  td {
    padding: 0.5em 1em;
  }

  #sort-tool {
    margin-top: 30px
  }
}

.folder-view {
  .bookmarkTools {
    margin-top: 20px;
  }
}
