
#folders-menu {
  list-style: none outside none;
  margin: 0;

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0.5em 1em;
    min-width: 12em;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);

    /* Hide the sub-menu when it's not hovered over */
    position: absolute;
    top: 3.2em;
    left: -9999px;
    opacity: 0;
  }

  /* Reveal the sub-menu when it's hovered over */
  li:hover ul, li:focus ul {
    left: 0;
    opacity: 0.99;
  }

  li {
    position: relative;
    float: none;
  }

  .sub-menu a {
    padding: 0.5em 0;
  }
}
