  <% if @folder.documents.any? {|d| d.exports_as? :endnote } %>
    <li class="endnote">
    <%= link_to t('blacklight.tools.endnote'), { format: :endnote }, class: "btn btn-default", id: "endnoteLink" %>
    </li>
  <% end %>
  <% if @folder.documents.any? {|d| d.exports_as? :refworks_marc_txt } %>
    <li class="refworks">
    <%= link_to t('blacklight.tools.refworks'), refworks_export_url(url: url_for(format: :endnote, only_path: false)), class: "btn btn-default", id: "refworksLink" %>
    </li>
  <% end %>
