<h1>Folders (<%=@folders.count %> total)</h1>

<div class="folder-index">
  <table>
    <tbody>
      <%= render partial: 'folder', collection: @folders %>
    </tbody>
  </table>

  <div class='actions'>
    <div class='primary-actions'>
      <%= link_to 'Create a New Folder', blacklight_folders.new_folder_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
