<% utils_file = File.join(Blacklight::Engine.root, 'app', 'views', '_user_util_links.html.erb') %>
<%= render file: utils_file %>

<% if current_user %>
  <div class="navbar-right">
    <ul class="nav navbar-nav" id="folders-menu">
      <li><%= render 'blacklight/nav/folders' %></li>
    </ul>
  </div>
<% end %>
